@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    padding-left: 60px;
    color: #807B74;
}
